<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="version" content="<%= version %>">
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="<%= author.name %>, <%= author.email %>, <%= author.url %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>

    <div class="wrapper"></div>

    <script src="assets/js/lib.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
